{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Your Stock Dashboard</h1>
<p>{{ ticker }}</p>
{% if api %}
    {% if api == "Error..." %}
        <div>There was a problem with your ticker symbol, kindly try again.</div>
    {% else %}
        <p>Name: {{ api.name }}<br/>
		<p>Description: {{ api.description }}<br/>
        <p>Price: {{ api.price }}<br/>
        52 Week High: {{ api.52WeekHigh }}<br/>
        52 Week Low: {{ api.52WeekLow }}<br/>
		EPS: {{api.EPS}}</p>
    {% endif %}
{% endif %}
{% endblock %}
